[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Start SLS4All
Exec=/bin/sh -c "~/sls4all_run.sh -s"
Icon=
Comment=
Path=
StartupNotify=false
